// Search form.
.td-sidebar__search {
	background-color: transparent;
	@media (max-width: 767px) {
		margin-top: 1rem;
	}
	@media (min-width: 768px) {
		padding-top: 0.5rem !important;
		padding-left: 1.5rem;
		padding-right: 1rem;
		padding-bottom: 1rem;
	}
	@media (min-width: 1300px) {
		padding-left: 2.5rem;
	}
}

// Ensure search inputs in sidebar are white
.td-sidebar .td-search__input,
.td-sidebar .td-search-input {
	background-color: #fff !important;
	&:focus {
		background-color: #fff !important;
	}
}

.pagefind-ui__result-link {
	color: $link-color !important;
}
.pagefind-ui__search-clear {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
#search {
	margin-top: 40px;
}